body{

background-image: linear-gradient(rgba(0, 0, 0,0.65), rgba(0, 0, 0,0.55)),url("../img/background.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Oxanium';

}

#home-page-row{
min-height:100vh;
font-size: 1.1rem;
color: #cfcfcf;
background:transparent !important
}
#togglerbutton {
color: #cfcfcf;
}

#sidemenu a{

color: #cfcfcf;
font-family: 'Oxanium';
font-weight: bold; 
}
@media (min-width: 544px) {
  #sidemenu a {font-size: 1rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  #sidemenu a {font-size: 1.35rem;} /*1rem = 16px*/
}
#main-home {
color: #cfcfcf;

    font-family: 'Oxanium';
    font-weight: bold; 
}
#social-footer a {
color: #cfcfcf;
    font-family: 'Oxanium';font-size: 1.1rem;
    font-weight: bold; 
}
