#projects{
font-family: 'Oxanium';
font-size: 1.1rem;
font-weight: bold; 
line-height:2.5rem;
color: #cfcfcf;
}
a{
color:#72fcc5;
}
.odd-projects{
background-color:#242424;
opacity:0.8;
color:#72fcc5;
line-height:2.5rem;
}
.odd-projects h4{
color:#72fcc5;
}
.even-projects{
background-color:#242424;
opacity:0.8;
color:#72fcc5;
line-height:2.5rem;
}
.even-projects h4{
color:#72fcc5;
}
