
@import "bootstrap";
.btn-custom{
color:#72fcc5;
}
.workcontent {
    min-height:50px;

 }
 .additional-info {
 color: #cfcfcf;
 }


#resume{
font-family: 'Oxanium';
font-size: 1.1rem;
font-weight: bold; 
}
.resume1{
min-height:30vh;
background:transparent !important;

}
.resume2{
min-height:40vh;
background:transparent !important;

}
.card-deck {
min-height:40vh;
}

@media (min-width: 544px) {
  .card {min-width: 15rem;} /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 544px) {
  .card {min-width: 25rem;} /*1rem = 16px*/
}

.resume3{
min-height:30vh;
background:transparent !important;

}
.workcards{
background-color:#28292e;
opacity:0.8;
color:#72fcc5;

}

.skillcards{
background-color:#28292e;
opacity:0.8;
color:#70a5fa;
font-weight:50px;
line-height:3rem;

}
.educationcards{
background-color:#28292e;
opacity:0.8;
color:#f58282;
}

.resume_headings1{
background-color:#70a5fa;
opacity:0.8;
}

.resume_headings2{
background-color:#72fcc5;
opacity:0.8;
}

.resume_headings3{
background-color:#f58282;
opacity:0.8;
}

.break-text p {
  word-wrap: break-word;
}
