<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Includes</title>

    <span th:fragment="css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Oxanium' rel='stylesheet'>

        <script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>
    </span>
    <span th:fragment="common_css">
        <link rel="stylesheet" th:href="@{/css/common.css}">
    </span>
    <span th:fragment="index_css">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </span>
    <span th:fragment="resume_css">
        <link rel="stylesheet" th:href="@{/css/resume.css}">
    </span>
    <span th:fragment="project_css">
        <link rel="stylesheet" th:href="@{/css/project.css}">
    </span>
    <span th:fragment="contact_css">
        <link rel="stylesheet" th:href="@{/css/contact.css}">
    </span>
</head>
<body>

<!--define xml fragments for css/html-->

<span th:fragment="js">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</span>

</body>
</html>