<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Contact Page</title>
    <!--BootstrapCDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>-->

    <!--Custom CSS-->
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
    <span th:include="common :: css"></span>
    <span th:include="common :: index_css"></span>
    <span th:include="common :: contact_css"></span>
</head>
<body>
<div class="container-fluid">
    <div th:include="menu :: navbar"></div>
    <div class="row d-flex justify-content-center align-items-center contactcontent">
        <div class="col-md-8 justify-content-center align-items-start">
            <form action="#" th:action="@{/contact}" th:object="${contactInfo}" method="post" id="contactForm">
                <div class="form-group">
                    <label for="Name" class="text-light">Name</label>
                    <input type="text" class="form-control" id="Name" th:field="*{Name}" placeholder="Provide your Full Name">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" class="form-control" id="Email" th:field="*{emailAddress}" placeholder="Provide your Email Address">
                </div>
                <div class="form-group">
                    <label for="Message" class="text-light">Message</label>
                    <textarea class="form-control h-25" id="Message" rows="5" th:field="*{message}" placeholder="Please provide your Message or Comments"></textarea>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-primary" id="Submit" >Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>


<div th:include="menu :: portfolio-footer"></div>
<span th:include="common :: js"></span>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>