<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>
    <!--BootstrapCDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
          <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>-->

    <!--Custom CSS-->
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
    <span th:include="common :: css"></span>
    <span th:include="common :: index_css"></span>

</head>
<body>
<!--<div class="container-fluid">-->

<!--</div>-->

<div class="container-fluid">
    <div th:insert="menu :: navbar"></div>
    <div class="row d-flex justify-content-center align-items-center">

        <div class="jumbotron" id="home-page-row">
            <div class="text-center">
                <h1 class="display-4">Hello from Subram!</h1>
                <!--<div class="col-10 col-lg-8 text-center">-->
                <p class="lead ">Experienced Software/Systems Engineer who is highly driven and well-versed in
                    scalable and distributed architecture.</p>
                <p class="lead ">A Self-Starter and quick learner.</p>
                <p class="lead ">Known for my problem solving and troubleshooting skills in Cloud.</p>

            </div>



            <hr class="my-4">
        </div>
    </div>

</div>



<div th:include="menu :: portfolio-footer"></div>
<span th:include="common :: js"></span>
</body>