<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home Page</title>
    <!--BootstrapCDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>-->

    <!--Custom CSS-->
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
    <span th:include="common :: css"></span>
</head>
<body>
<div th:fragment="navbar" id="mainmenu-navbar">
    <!--<div class="container-fluid">-->
        <!--<div class="row d-flex" >-->
            <div class="navbar" id="sidemenu" >
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarSm">-->
                    <!--&lt;!&ndash;<span class="navbar-toggler-icon " id="togglerbutton"></span>&ndash;&gt;-->
                    <!--<span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" id="togglerbutton"></i></span>-->

                <!--</button>-->
                <!--<div class="navbar-collapse collapse" id="collapsingNavbarSm">-->
                <a href="/home" >
                    <div class="d-flex  justify-content-start align-items-center p-2">
                        <span class="fa fa-home fa-fw mr-3"></span>
                        <span >Home</span>
                    </div>
                </a>
                <a href="/projects" >
                    <div class="d-flex  justify-content-start align-items-center p-2">
                        <span class="fa fa-laptop-code fa-fw mr-3"></span>
                        <span >Projects</span>
                    </div>
                </a>
                <a href="/resume"  >
                    <div class="d-flex  justify-content-start align-items-center p-2">
                        <span class="fa fa-file fa-fw mr-3"></span>
                        <span >Resume</span>
                    </div>
                </a>
                <a href="/contact" >
                    <div class="d-flex  justify-content-start align-items-center p-2">
                        <span class="fa fa-address-card fa-fw mr-3"></span>
                        <span >Contact</span>
                    </div>
                </a>
            <!--</div>-->
            </div>
            <!--<nav class="navbar " id="sidemenu" >-->
                <!--<a class="navbar-brand" href="#">Navbar</a>-->
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarSm">-->
                    <!--&lt;!&ndash;<span class="navbar-toggler-icon " id="togglerbutton"></span>&ndash;&gt;-->
                    <!--<span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" id="togglerbutton"></i></span>-->

                <!--</button>-->
                <!--<div class="navbar-collapse collapse" id="collapsingNavbarSm">-->
                    <!--<ul class="navbar-nav nav-fill w-100">-->
                        <!--<li class="nav-item">-->
                            <!--&lt;!&ndash;<a class="nav-link" href="#">Collapse on SM</a>&ndash;&gt;-->
                            <!--<a href="/home" class="nav-link" >-->
                            <!--<div class="d-flex  justify-content-start align-items-center p-2">-->
                            <!--<span class="fa fa-home fa-fw mr-3"></span>-->
                            <!--<span >Home</span>-->
                            <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a href="/projects" class="nav-link">-->
                            <!--<div class="d-flex  justify-content-start align-items-center p-2">-->
                            <!--<span class="fa fa-laptop-code fa-fw mr-3"></span>-->
                            <!--<span >Projects</span>-->
                            <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a href="/resume" class="nav-link"  >-->
                            <!--<div class="d-flex  justify-content-start align-items-center p-2">-->
                            <!--<span class="fa fa-file fa-fw mr-3"></span>-->
                            <!--<span >Resume</span>-->
                            <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a href="/contact" class="nav-link" >-->
                            <!--<div class="d-flex  justify-content-start align-items-center p-2">-->
                            <!--<span class="fa fa-address-card fa-fw mr-3"></span>-->
                            <!--<span >Contact</span>-->
                            <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</nav>-->


</div>


<div th:fragment="portfolio-footer">
    <div id="social-footer">
        <footer class="footer navbar-default navbar-fixed-bottom">

            <div class="d-flex justify-content-center">
                <a href="https://gitlab.com/users/koushikajay/projects" class="p-4"><i class="fa fa-gitlab fa-md social"></i></a>
                <a href="https://linkedin.com/in/subramanianmahalingam/" class="p-4"><i class="fa fa-linkedin-square fa-md social" ></i></a>s
                <a href="mailto:subram.mahalingam@gmail.com" class="p-4"><i class="fa fa-envelope fa-md social" ></i></a>
                <a href="#" class="p-4"><i class="fa fa-phone fa-md social" ></i></a>
            </div>

        </footer>
    </div>
</div>
</body>