<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project Page</title>
    <!--BootstrapCDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>-->

    <!--Custom CSS-->
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
    <span th:include="common :: css"></span>
    <span th:include="common :: index_css"></span>
    <span th:include="common :: project_css"></span>
</head>
<body>
<div class="container-fluid">
    <div th:insert="menu :: navbar"></div>
</div>

<div th:each="project,iter: ${projects}" id="projects">
        <div  th:if="${iter.odd}">
            <div class="container-fluid m-1 odd-projects" >
                <div class="row justify-content-center p-2">
                    <div class="col-lg-8 text-center order-2 order-lg-1" >
                        <div class="row m-1 justify-content-center">
                            <div class="col-10 col-lg-8">
                                <h4 th:text=${#strings.toUpperCase(project.title)} ></h4>
                                <p th:text="${project.description}"></p>
                                <h6 th:each="item: ${project.techStack}" th:text="'TECH STACK : ' + ${#strings.capitalize(item)}"></h6>
                                <a th:attr="href=${project.gitUrl}">Source Code</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-center align-items-center order-1 order-lg-2">
                        <img th:attr="src='../img/' + ${#strings.replace(project.title,' ','').toLowerCase()} +'.jpg' " class="img-fluid d-lg-block rounded mx-auto">
                    </div>
                </div>
            </div>
        </div>


        <div th:unless="${iter.odd}">
            <div class="container-fluid m-1 even-projects">
                <div class="row justify-content-center p-2">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center ">
                        <img th:attr="src='../img/' + ${#strings.replace(project.title,' ','').toLowerCase()} +'.jpg' " class="img-fluid d-lg-block rounded mx-auto " >
                    </div>
                    <div class="col-lg-8 text-center">
                        <div class="row m-1 justify-content-center">
                            <div class="col-10 col-lg-8">
                                <h4 th:text="${#strings.toUpperCase(project.title)}"></h4>
                                <p th:text="${project.description}"></p>
                                <h6 th:each="item: ${project.techStack}" th:text="'TECH STACK : ' + ${#strings.capitalize(item)}"></h6>
                                <a th:attr="href=${project.gitUrl}">Source Code</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</div>
<div th:include="menu :: portfolio-footer"></div>

<span th:include="common :: js"></span>
</body>
</html>