<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Resume Page</title>
    <!--BootstrapCDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
    <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--<script src="https://kit.fontawesome.com/82392e8143.js" crossorigin="anonymous"></script>-->

    <!--Custom CSS-->
    <!--<link rel="stylesheet" th:href="@{/css/index.css}">-->
    <span th:include="common :: css"></span>
    <span th:include="common :: index_css"></span>
    <span th:include="common :: resume_css"></span>
</head>
<body>
<div class="container-fluid">
    <div th:insert="menu :: navbar"></div>
</div>


<!-- Modal -->
<!--<div class="modal fade" id="Smartsheet" tabindex="-1" role="dialog" aria-labelledby="SmartsheetLabel">-->
    <!--<div class="modal-dialog modal-lg" role="document">-->
        <!--<div class="modal-content workcards">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title" id="myModalLabel">SMARTSHEET</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p class="card-text">&#9642;Developed a data platform for the business intelligence team using Python,AWS,Apache Airflow,Groovy and Jenkins.</p>-->
                <!--<p class="card-text">&#9642;Designed and developed a flask web application to record the status changes of the Jenkins jobs in DynamoDB.</p>-->
                <!--<p class="card-text">&#9642;Managed AWS for the Product Intelligence team and specialize in automating the deployment of services to AWS using Jenkins, Puppet and related tools.</p>-->
                <!--<p class="card-text">&#9642;Managed every step in the process of planning,deployment,automation,monitoring, and security of infrastructure in the cloud.</p>-->
                <!--<p class="card-text">&#9642;Provided alerting solutions for the platform using ELK stack, Elastalert, AWS lambda and Cloudwatch.</p>-->
                <!--<p class="card-text">&#9642;Conducted in-depth technical investigations, scaled, maintained and continuously improved the performance and availability of the platform</p>-->
                <!--<p class="card-text">&#9642;Identified architectural improvements resulting in increased developer efficiency, product reliability, and responsiveness to new feature requests.</p>-->
                <!--<p class="card-text">&#9642;Established and Implemented efficient SDLC processes and fostered the transition to an agile  methodology.</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="modal fade" id="FidelityInvestments" tabindex="-1" role="dialog" aria-labelledby="FidelityInvestmentsLabel">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content workcards">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title" id="myModalLabel1">FIDELITY INVESTMENTS</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p class="card-text">Designed and developed CI/CD pipeline for Pricing and Cash Management applications.</p>-->
                <!--<p class="card-text">Automated deployment of applications to dev,test and production environments.</p>-->
                <!--<p class="card-text">Managed Subversion/Git repositories and access control strategies.</p>-->
                <!--<p class="card-text">Implemented an automated solution of infrastructure provisioning using ansible and shell scripting.</p>-->
                <!--<p class="card-text">Involved in development of metrics-based applications using Spring framework,Bootstrap,HTML,CSS,Highcharts and javascript.</p>-->
                <!--<p class="card-text">Performed On-Call activities including troubleshooting and debugging production issues.</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div th:each="employment:${employments}">
    <div class="modal fade" th:attr="id=${employment.companyName}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content workcards">
                <div class="modal-header">
                    <h4 class="modal-title" th:attr="id=${employment.companyName}" th:text="${employment.companyName}"></h4>
                </div>
                <div class="modal-body" th:each="responsibility:${employment.employmentResponsibilities}">
                    <p class="card-text" th:text="'&#9642;'+${responsibility}"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>



<!--<section class="resume">-->

    <div class="container-fluid m-1">
        <div class="row resume1">
            <div class="col-md-2 text-center d-flex justify-content-center align-items-center resume_headings1">
                <h4>SKILLS</h4>
            </div>
            <div class="col-md-10 border-left border-dark d-flex justify-content-center p-2 skillcards">
                    <div class="col-lg-6 break-text" >
                        <div th:each="skill,stats: ${skills}">
                            <div class="row" th:if="${stats.odd}">
                                <div class="col-lg-6 d-flex-column justify-content-start">
                                    <p class="text-uppercase font-weight-bold mb-1 " th:text="${skill.key}"></p>
                                </div>
                                <div class="col-lg-6 d-flex-column justify-content-end ">
                                    <p class="font-weight-light text-light" th:text="${skill.value}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 break-text" >
                        <div th:each="skill,stats: ${skills}">
                            <div class="row" th:unless="${stats.odd}">
                                <div class="col-lg-6 d-flex-column justify-content-start ">
                                    <p class="text-uppercase font-weight-bold mb-1 " th:text="${skill.key}"></p>
                                </div>
                                <div class="col-lg-6 d-flex-column justify-content-end ">
                                    <p class="font-weight-light text-light" th:text="${skill.value}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <div class="container-fluid m-1 " id="resume">
        <div class="row resume2">
            <div class="col-md-10 border-right border-dark workcards order-2 order-lg-1">
                <div class="card-deck justify-content-between align-items-stretch">

                        <div class="card border border-white m-1 text-center bg-transparent" th:each="employment:${employments}" >
                            <div class="card-body">
                                <div class="row workcontent" >
                                    <div class="col-6 d-flex justify-content-start align-items-center text-nowrap">
                                        <h5 th:text="${employment.companyName}"></h5>
                                    </div>
                                    <div class="col-sm-12 col-md-6 d-flex justify-content-md-end align-items-center  text-nowrap additional-info workcontent">
                                        <h5 th:text="${employment.location}"></h5>
                                    </div>

                                </div>
                                <div class="row" >
                                    <div class="col-sm-12 col-md-6 d-flex  justify-content-start align-items-center text-left text-wrap workcontent">
                                        <h5 th:text="${employment.position}"></h5>
                                    </div>
                                    <div class="col-sm-12 col-md-6  d-flex justify-content-md-end align-items-center text-nowrap workcontent additional-info">
                                        <h5 th:text="${employment.years}"></h5>
                                    </div>
                                </div>

                            </div>
                            <div class="row d-flex justify-content-center workcontent" >
                                <div class="col-3 d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-dark btn-custom" data-toggle="modal" th:attr="data-target='#' + ${employment.companyName}">Click for Details</button>
                                </div>
                            </div>
                        </div>


                </div>
            </div>
            <div class="col-md-2  d-flex justify-content-center align-items-center order-1 order-lg-2  resume_headings2">
                <h4>WORK</h4>
            </div>
        </div>
    </div>


    <div class="container-fluid m-1" >
        <div class="row resume3">
            <div class="col-md-2 text-center d-flex justify-content-center align-items-center resume_headings3">
                <h4>EDUCATION</h4>
            </div>
            <div class="col-md-10 p-1 border-left border-dark educationcards">
                <div th:each="education,stats: ${educations}">
                    <!--<div class="row" >-->
                        <!--<div class="col-12  text-wrap">-->
                            <div class="row m-3" >
                                <div class="col-sm-12 col-md-6  d-flex text-nowrap" >
                                    <h5  th:text="${education.degree}"></h5>
                                </div>
                                <div class="col-sm-12 col-md-6  d-none d-md-block text-md-right additional-info" >
                                    <h5 th:text="${education.graduationYear}"></h5>
                                </div>
                            </div>
                            <div class="row m-3" >
                                <div class="col-sm-12 col-md-6  d-flex text-nowrap" >
                                    <h5 th:text="${education.university}"></h5>
                                </div>
                                <div class="col-sm-12 col-md-6  d-none d-lg-block text-right additional-info" >
                                    <h5 th:text="${education.location}"></h5>
                                </div>
                            </div>
                            <div class="row m-3">
                                <div class="col-sm-12 col-md-6  d-flex" >
                                    <h5 th:text="${#numbers.formatDecimal(education.gpa,1,2)+'/4.0'}"></h5>
                                </div>
                            </div>
                            <hr>
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </div>
    </div>
<!--</section>-->







<div th:include="menu :: portfolio-footer"></div>
<span th:include="common :: js"></span>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script>
</script>
</body>
</html>